---
layout: master/page
title: Shred
permalink: index
---

<!-- Landingspagina -->

  <article class="header row">

    <section class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-6">
      <img src="assets/img/logowhite.png" alt="logo">

      <p>Your <span class="bold">downhill longboarding</span> companion</p>

      <a href="#features">Start Shredding</a>
    </section>

  </article>

<!-- Track Your Runs -->

  <article id="track">

    <section class="row">
      <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-lg-3 col-lg-offset-2">
        <img id="features" src="assets/img/phone.gif" alt="phone">
      </div>

      <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-lg-5 col-lg-offset-1">
        <h1>Track your runs</h1>
        <p>
          Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
          Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet
          rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo.
          Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac,
          vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
        </p>
      </div>
    </section>

  </article>

<!-- Bookmark -->

  <article class="bookmark row">

    <section class="col-sm-12 col-md-4 col-md-offset-1">
      <h1>Bookmark your spots</h1>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet
      rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo.
      Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac,
      vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h2>Smartwatch Compatible</h2>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet
      rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo.
      Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac,
      vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    </section>

    <section class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1">
      <img class="img-responsive center" src="assets/img/bg_section2.png" alt="app">
    </section>

  </article>

<!-- Create a Profile -->

  <article class="create row">

    <section class="col-sm-4 col-sm-offset-6">
      <h1>Create a profile. add friends.</h1>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet
        rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo.
        Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac,
        vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
      </p>
    </section>

  </article>

<!-- Atmosphere Pictures -->

  <article class="atmosphere hidden-xs hidden-sm">

    <figure>
      <img src="assets/img/section4.png" alt="downhilling">
    </figure>

  </article>

<!-- Download -->

  <article class="app row" id="download">

    <section class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-6">
      <h1>Start Shredding</h1>
      <p>Support us by downloading our app on
        <span class="bold">iPhone</span> and/or <span class="bold">iWatch</span> and enhance your
        downhill longboarding experience.</p>

      <a href="https://itunes.apple.com/nl/genre/ios-sport/id6004?mt=8"><img src="assets/img/download.png" alt="download"></a>
    </section>

  </article>
