<footer class="row" id="footer">

  <div class="logofooter col-sm-2">
    <img src="../assets/img/logo.svg" alt="logo">
  </div>

  <div class="menu col-sm-2 col-sm-offset-1">
    <a href="../#features">Features</a>
    <a href="../blog">Blog</a>
    <a href="../#download">Dowload</a>
    <a href="../styleguide">Style Guide</a>
  </div>


  <div class="newsletter col-sm-3">
    <h1>Newsletter</h1>
    <p>Sign up for our newsletter</p>

    <input type="email" name="email" placeholder="e-mail adress">
  </div>

  <div class="submit col-sm-2">
    <input type="submit" value="Keep me posted">
  </div>





</footer>
